<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>185778199639-ril8jp783ro31mb0pthfla8s4qmidvk9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.185778199639-ril8jp783ro31mb0pthfla8s4qmidvk9</string>
	<key>API_KEY</key>
	<string>AIzaSyBH42rQwh6rPPYWXt39LIOQ2Qo5lJpkk7E</string>
	<key>GCM_SENDER_ID</key>
	<string>185778199639</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>prague.BeerShelter</string>
	<key>PROJECT_ID</key>
	<string>beershelter</string>
	<key>STORAGE_BUCKET</key>
	<string>beershelter.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:185778199639:ios:1c5a2cbed145da9eb7d712</string>
</dict>
</plist>